# === Core ML libraries
tensorflow>=2.19.0
scikit-learn>=1.5.1
pandas>=1.5.1
numpy>=2.1.0
joblib>=1.4.2

# === Visualization
matplotlib>=3.9.2

# === GUI
streamlit>=1.45.0
folium>=0.19.5
streamlit-folium>=0.25.0

# === Optional (clean CLI logs)
rich>=13.0
